@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
    --color-bgr: rgb(93, 168, 138);
    --color-primary: rgb(108, 176, 149);
    --color-secondary: rgb(254, 229, 215);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    /* font-family: "Ubuntu", sans-serif ; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
}

/* body {
    overflow: auto;
} */
a {
    text-decoration: none;
}

a:hover {
    color: black;
}
li {
    list-style: none;
}
.col-lg-1-5 {
    width: 20% !important;
}

.translatex {
    transition: all 0.3s;
}

.translatex:hover {
    /* background-color: rgb(226, 203, 166); */
    transform: translateX(-5px);
    color: black !important;
}
.translatey_ {
    transition: all 0.3s;
}

.translatey_:hover {
    /* background-color: rgb(226, 203, 166); */
    transform: translateY(-3px);
    color: black !important;
}

.translatex_ {
    transition: all 0.3s;
}

.translatex_:hover {
    /* background-color: rgb(226, 203, 166); */
    transform: translateX(5px);
    color: black !important;
}

.translatey {
    transition: all 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* border-radius: 50% !important; */
    cursor: pointer;
}

.translatey:hover {
    transform: translateY(-2px);
    color: black !important;
}

.translate {
    transition: all 0.3s;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    cursor: pointer;
}

.translate:hover {
    transform: translateY(-3px);
}
/* Font */

/* word-spacing: 15px; */

.hover_::after {
    content: "";
    position: absolute;
    display: block;
    width: 30%;
    height: 3px;
    background: linear-gradient(to right, #090909, #ff6fe0);
    left: 0;
    bottom: -8px;
    z-index: 3;
    transition: all 0.4s;
}

.hover_:hover::after {
    width: 100%;
}
.hover-top::after {
    content: "";
    position: absolute;
    display: block;
    width: 30%;
    height: 3px;

    background: linear-gradient(to right, #ffffff, #e21111);
    top: -8px;
    left: 0;
    z-index: 3;
    transition: all 0.4s;
}
.hover-top:hover::after {
    width: 100%;
}

.hover-top_::before {
    content: "";
    position: absolute;
    display: block;
    width: 30%;
    height: 3px;

    background: linear-gradient(to right, #ffffff, #e21111);
    top: -8px;
    left: 0;
    z-index: 3;
    transition: all 0.4s;
}
.hover-top_:hover::before {
    width: 100%;
}
/* Stick header */
.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    float: left;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* background: linear-gradient(to right, #8ce09d, #fff5c3) !important; */
    background: linear-gradient(to right, #deb8e6, #9ce9ad) !important;

    z-index: 100;
    animation: slideIndown 1s linear;
    /* transition: opacity .25s ease,transform .25s ease; */
}
@keyframes slideIndown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(0, 0%, 0);
    }
}

/* <td>{{ $category->created_at->format('d/m/Y H:i:s') }}</td> */
/* ko bắt dc sử kiện submit ở ajax.
do cache view hoặc cache php Run:
php artisan cache clear
service php-fpm restart */

::-webkit-scrollbar {
    width: 8px; /* Chiều rộng của thanh cuộn ngang */
}

::-webkit-scrollbar-thumb {
    background-color: red; /* Màu của nút kéo */
    border-radius: 7px; 
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* Màu nền của thanh cuộn */
}

/* Tùy chỉnh thanh cuộn dọc */
::-webkit-scrollbar {
    height: 10px; /* Chiều cao của thanh cuộn dọc */
}

/* Nút kéo của thanh cuộn dọc */
::-webkit-scrollbar-thumb {
    background-color: red; /* Màu của nút kéo */
    border-radius: 7px; 
}

.cc{
    color:red;
}
